<!-- <form name="form" ng-submit="validate()" role="form"> -->
<form class="form" #taskForm="ngForm" (ngSubmit)="saveTask()" novalidate style="direction: rtl !important;text-align: right;"> 
  <mat-dialog-actions align="end">
    <button *ngIf="dialogExist" mat-button mat-dialog-close><mat-icon>close</mat-icon> </button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
    
  </mat-dialog-actions>
    <div class="submit-form">
      <div > <!--*ngIf="!submitted"-->
        <div class="form-group">
          <label for="title">عنوان المهمة</label>
          <input ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }"
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="onsitetask.TaskTitle"
            name="title"
            required                     
            #name="ngModel"
          />
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert">

          <div *ngIf="name.errors?.['required']" style="color:red">
            * مطلوب عنوان المهمة
          </div>
          <!-- <div *ngIf="name.errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>  minlength="4"   -->
          <!-- <div *ngIf="name.errors?.['forbiddenName']">
            Name cannot be Bob.
          </div> -->
          
        </div>


        </div>
        
        <div class="form-group">
          <label for="description">تفاصيل المهمة</label>
          <textarea 
            class="form-control"
            id="description"
            required
            [(ngModel)]="onsitetask.TaskDescription"
            name="description"
            aria-multiline="true"
            #desc="ngModel"
          ></textarea>
          <div *ngIf="desc.invalid && (desc.dirty || desc.touched)"
            class="alert">

          <div *ngIf="desc.errors?.['required']" style="color: red;">
            * مطلوب تفاصيل المهمة
          </div>
          
        </div>
      </div>
      
      <div class="form-group">
        <mat-form-field  appearance="fill" style="text-align: right;">
          <mat-label>اختر اسم المستخدم</mat-label>
          <mat-select style="text-align: right;" #userngmodel="ngModel" [(ngModel)]="onsitetask.UserID"  name="DisplayName"  required>
            <!-- <mat-option>--</mat-option> -->
            <mat-option style="text-align: right;"  *ngFor="let displayuser of Users" value="{{displayuser.id}}" >
              {{displayuser.userDisplayName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userngmodel.hasError('required')">* برجاء اختيار مستخدم</mat-error>
          <mat-hint>{{userngmodel.value?.userDisplayName}}</mat-hint> 
       </mat-form-field>
    </div>

    <div class="form-group">   
       <mat-form-field  style="direction: rtl; text-align: right;"> 
          <div>
            <mat-toolbar>
              <!-- Display files names -->
              <input matInput [(ngModel)]="fileAttr" readonly name="name" />
        
              <!-- Browse Button -->
              <button mat-flat-button color="primary">
                تصفح
              </button>
            </mat-toolbar>
        
            <!-- Fetch selected filed on change -->
            <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" 
            name="uploadFile" multiple="multiple" accept="image/*" />
          </div>
        </mat-form-field>
      </div>
        <!-- ng-disabled="form.$invalid" -->
          <div>
            <button  type="submit" [disabled]="taskForm.invalid"  class="btn btn-success">تقديم</button>
          </div><!-- (click)="saveTask()" -->


     
  <!--*ngIf="submitted"-->
      <!-- <div > 
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTask()">Add</button>
      </div> -->
    </div>
  </div>

  </form>

  <!-- </form> -->