table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
   
  }

  .mat-column-id {
    width:  10%;
}
.mat-column-taskStatus {
  width:  10%;
}
.mat-column-taskActions {
  width:  15%;
}
.mat-column-taskDescription {
  width:  15%;
}
.mat-column-userDisplayName {
  width:  15%;
}
.mat-column-taskDate {
  width:  10%;
}
.mat-paginator-range-label{
  direction: ltr !important;
}
// .mat-paginator.mat-paginator-outer-container.mat-paginator-container.mat-paginator-range-actions.mat-paginator-range-label
::ng-deep .mat-paginator {
  .mat-paginator-range-label {
    direction: ltr !important;
    //margin: 0;
    order :2;
  }
}

.mat-header-cell {
  background: rgba(0, 0, 0, 0.12);
}
// * { direction: rtl;text-align: right; }
